.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:not(:hover) .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:not(:hover) .main-body {
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in;
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}
