:root {
  --main-font: 'Inter', Arial, sans-serif;
  --accent-font: 'PressStart2P', 'Courier New', monospace;
  
  --font-weight-normal: 400;
  --font-weight-bold: 785;
  
  --accent-color: #000;
  --button-text-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --stroke-color: rgb(255, 255, 255, 0.6);
  
  --page-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --content-width: clamp(23.188rem, 15.737rem + 31.809vw, 43.5rem);
  
  --bg-color: #fff;
  --bg-image: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}

@media (width <= 375px) {
  :root {
    --page-width: 100%;
    --content-width: 100%;
  }
}
